
.globalTextColor{
    color:#FC8604;;
}
.globalHoverBackColor:hover{
    background-color:#FC8604;
    transition: all 0.4s ease-in-out;
}

.globalHoverTextColor:hover{
       color:white;
}
.globalBackColor{
    background-color:#FC8604;;
}